// Place all the styles related to the movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
table.movies {
  width: 100%;
  font-size: 2em;

  td.centered {
    text-align: center;
  }
}

#poster {
  @include grid-column(3);
  padding: 0px;
}

#movie {
  @include grid-column(9);

  #info {
    @include grid-row;
  }
}

#showtimes {
  @include grid-row;
  margin-top: 20px;

  h2, table, form {
    @include grid-row;
  }

  h2 {
    font-size: 1.3em;
  }

  .icon-plus-sign {
    color: $secondary-color;
    color: black;

    &:hover {
      color: $primary-color;
    }
  }

  .showtime {
    input[type="text"] {
      width: 75%;
      display: inline;
    }
  }

  .location {
    @include grid-row;
    margin-top: 30px;
    padding-left: 0;

    span {
      border: 1px solid gray;
    }

    .state {
      @include grid-column(2);
      padding-left: 0;
    }

    .city {
      @include grid-column(3);
    }

    .name {
      @include grid-column(4);
    }

    .address {
      @include grid-column(3);
      padding-right: 0;
    }

    .submit {
      @include grid-column(3);
      padding-left: 0;
    }
  }



  .crossed {
    color: gray;
    text-decoration: line-through;
  }

  .showtime {

  }
}